@import 'tailwindcss';

/* Split Complementary Color Palette 
#EB9E00 - Orange
#EB5500 - Red
#01A3EB - Blue
#2F5D70 - Dark blue
#6B5A36 - Dark beige
#6B4732 - Dark brown
 */

 @theme {
  --color-theme_orange: #EB9E00;
  --color-theme_red: #EB5500;
  --color-theme_blue: #01A3EB;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #EB5500;
}

a:hover {
  text-decoration: underline;
}

.link_button {
  transition-duration: 300ms;
}
.link_button:hover {
  text-decoration: none;
  background-color: #EB9E00;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  font-family: "Noto Serif Variable", serif;
  color: white; 
}

h2 {
  line-height: 1.1;
  font-family: "Noto Sans Variable", serif;
  color: white; 
}

button {
  border-radius: 12px;
  border: 1px solid; 
  padding: 0.6em 1.2em;
  font-size: medium;
  background-color: #EB9E00;
  cursor: pointer;
  transition: transform 0.3s
}
button:hover {
  transform: scale(1.05, 1.05);
  transform-style: preserve-3d;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

}

/* Custom CSS */
download {
  color: #ffffff;
}

select {
    border: 1px solid transparent;
    text-align-last:center;
    appearance: none;
}

select:focus, select:focus-visible {
  outline: none;
  border-color: none;
  box-shadow: none;
}

select:focus, select:active {
  transition: none !important;
}

p {
  font-family: "Noto Sans Variable", sans-serif;
}

